<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="auth">
<head>
    <title> Reminder menu </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <div class="p-3 bg-dark text-white">
        <div class="container mt-5">

            <header th:insert="blocks/header :: header"></header>
            <div th:insert="blocks/sendEmail :: sendEmail"></div>
            &nbsp;
            <div th:insert="blocks/footer :: footer"></div>
        </div>
    </div>


</html>