<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="auth">
<head>
    <title> Мейн сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <html lang="en">
    <div class="container py-3">
        <header th:insert="blocks/header :: header"></header>
        <header th:insert="blocks/registration :: registration"></header>
        <div th:each="element:${usernameError}" class="alert alert-info mt-2" style="align-content: center; color: #1d47a2">--> </div>
        <div th:each="element:${passwordError}" class="alert alert-info mt-2" style="align-content: center; color: #1d47a2">--> </div>
        <div th:insert="blocks/footer :: footer"></div>
    </div>
    </html>

</html>