<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>IndexFilm</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>

<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.
</div>
<div sec:authorize="hasAuthority('ADMIN')">Админ контент</div>
<div sec:authorize="hasAuthority('USER')">Юзер контент</div>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>

</body>

</html>