<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Мейн сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">

    <header th:insert="blocks/header :: header"></header>
    <div class="p-3 bg-dark text-white">

        <div class="container mt-5">
            <p>АКК ЗАРЕГАНО</p>
            <div class="container mt-5">

                <div th:insert="blocks/footer :: footer"></div>
            </div>
        </div>
    </div>

</html>