<div th:fragment="adminNAV" xmlns:sec="http://www.w3.org/1999/xhtml">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <a href="/adminreminder" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">REMINDER</a>
                &nbsp;
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="admin/newdoctor" style="background: #9e487f" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Добавить доктора</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a href="#" style="background: yellow" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">будущий функционал</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a href="#" style="background: greenyellow" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">будущий функционал</a>
                        </li>
                        &nbsp;
                    </ul>
                </div>
            </div>
        </nav>




</div>