<div th:fragment="clinic" xmlns:sec="http://www.w3.org/1999/xhtml">
    <form action="/templates/clinic" method="post">

        <div class="mb-3">
            <label id="clientlabel" style="text-align: center; width:350px"> &nbsp; </label>

            <div sec:authorize="isAuthenticated()" name="username"></div>

        </div>
        <div class="mb-3">
            <label id="datelabel" style="text-align: center; width:350px"> &nbsp; </label>
            <input type="date" name="date" class="form-control" id="exampleInputDay"
                   style="text-align: center; color: white; width:350px" aria-describedby="dayHelp">
            <div id="dayHelp" class="form-text">Выберите дату записи</div>
        </div>
        <div>&nbsp;</div>
        <select name="time" id="time" style="text-align: center; height: 25px; width: 350px; color: white; background: #151515"     >
            <option value="9.00"> 9.00</option>
            <option value="10.00"> 10.00</option>
            <option value="11.00"> 11.00</option>
            <option value="12.00"> 12.00</option>
            <option value="13.00"> 13.00</option>
            <option value="14.00"> 14.00</option>
            <option value="15.00"> 15.00</option>
            <option value="16.00"> 16.00</option>
            <option value="17.00"> 17.00</option>
            <option value="18.00"> 18.00</option>
        </select>
        <div id="timeHelp" class="form-text">Выберите время записи</div>
        <div>&nbsp;</div>
        <select name="doctorID" id="doctorID" style="text-align: center; height: 25px; width: 350px; color: white; background: #151515">
            <option value="1"> Терапевт </option>
            <option value="2"> Хирург </option>
            <option value="3"> Окулист </option>
            <option value="4"> Психолог </option>

        </select>
        <div id="personHelp" class="form-text">Выберите врача</div>
        <div> &nbsp</div>
        <button type="submit" class="btn btn-warning">Записаться</button>




    </form>
</div>