<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <link th:href="@{/static/css/header.css}" rel="stylesheet"/>

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a sec:authorize="hasRole('USER')" href="/profile" class="nav-link px-2 text-white">Profile</a></li>
                    <li><a sec:authorize="hasRole('USER')" href=" /profile/history" class="nav-link px-2 text-white">History</a></li>
                    <li><a sec:authorize="hasRole('DOCTOR')" href="/doctor" class="nav-link px-2 text-white">Doctor menu</a></li>
                    <li><a sec:authorize="hasRole('DOCTOR')" href="/doctor/patientmenu" class="nav-link px-2 text-white">Все пациенты</a></li>
                    <li><a sec:authorize="hasRole('DOCTOR')" href="/doctor/patientAppointment" class="nav-link px-2 text-white">запись на СЕГОДНЯ</a></li>
<!--                    <li><a sec:authorize="hasRole('ADMIN')" href="/function" class="nav-link px-2 text-white">Function</a></li>-->
                    <li><a sec:authorize="!isAuthenticated()" href="/registration" class="nav-link px-2 text-white">Registration</a></li>
                    <li><a sec:authorize="hasRole('USER')" href="/clinic" class="nav-link px-2 text-white">Clinic</a></li>
                    <li><a sec:authorize="hasRole('ADMIN')" href="/admin" class="nav-link px-2 text-white">Users menu</a></li>
                    <li><a sec:authorize="hasRole('ADMIN')" href="/admin/newdoctor" class="nav-link px-2 text-white">Doctors menu</a></li>
                    <li><a sec:authorize="hasRole('ADMIN')" href="/admin/adminreminder" class="nav-link px-2 text-white">Reminder</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                           aria-label="Search">
                </form>
                <a sec:authorize="!isAuthenticated()" href="/registration" class="nav-link px-2 text-white">Registration</a>
                &nbsp

                <div class="text-end">

                    <form  action="/login" method="post">
                    <button sec:authorize="!isAuthenticated()" type="submit" class="btn btn-warning">Sign-in</button>
                    </form>


                    <form  th:action="@{/logout}" method="post">
                        <button  sec:authorize="isAuthenticated()" type="submit" class="btn btn-warning">Log-out</button>
                    </form>


                </div>
            </div>
        </div>
    </header>
</div>