<div th:fragment="main">
<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Individual</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$5<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>лицензия на одного</li>
            <li>лицензия на 1 локацию</li>
            <li>14 дней бесплатный тест</li>
            <li> </li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Начать пробный период</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>лицензия на 5 сотрудников</li>
            <li>неограниченное число локаций</li>
            <li>14 дней бесплатный тест</li>
            <li> </li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Начать сейчас</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$50<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>неограниченное число сотрудников</li>
            <li>неограниченное число локаций</li>
            <li>14 дней бесплатный тест</li>
            <li> </li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Связаться с нами</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Compare plans</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
      <tr>
        <th style="width: 34%;"></th>
        <th style="width: 22%;">Free</th>
        <th style="width: 22%;">Pro</th>
        <th style="width: 22%;">Enterprise</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row" class="text-start">Онлайн-запись 24/7 </th>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Электронный календарь и журнал</th>
        <td></td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <th scope="row" class="text-start">Клиентская база</th>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Онлайн веб-страница</th>
        <td></td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Статистика и Аналитика</th>
        <td></td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Оповещения</th>
        <td></td>
        <td></td>
        <td>
          <svg class="bi" width="24" height="24">
            <use xlink:href="#check"></use>
          </svg>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>