<div th:fragment="profile" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="container mt-5">
    <a th:href="'/profileEdit'" class="btn btn-warning">Заполнить профиль </a>

        <div th:each="el: ${patientCard}" class="alert alert-info mt-2 "
             style="align-content: center; color: white">
            <h3 style="text-align: center" th:text="${el.fio}"></h3>
            <p style="text-align: center" th:text="${el.email}"></p>
            <p style="text-align: center" th:text="${el.sex}"></p>
            <p style="text-align: center" th:text="${el.getPhoneNumber()}"></p>
            <p style="text-align: center" th:text="${el.insurancePolicy}"></p>
            <p style="text-align: center" th:text="${el.placeOfResidence}"></p>
            <a th:href="'/patient/'+ ${el.id} +'/edit'" class="btn btn-warning">Редактировать профиль </a>
        </div>
    </div>
</div>