<div th:fragment="registration">
    <link th:href="@{/static/css/signin.css}" rel="stylesheet"/>
    <main class="form-signin">
        <form action="/registration" method="post">
            <img src="/static/logo/registration.png" class="center-img">
            <div>
                <input type="email" name="username" aria-label="login" placeholder="Email" class="form-control">
            </div>

            <div>
                <input type="password" name="password" aria-label="password" placeholder="Password"
                       class="form-control">
            </div>
            <div>
                <input type="password" name="passwordConfirm" path="passwordConfirm" aria-label="password"
                       placeholder="Confirm your password"
                       class="form-control">
            </div>
            <button type="submit" class="btn btn-warning" style="width: 100%">Зарегистрироваться</button>

        </form>
    </main>
</div>