<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="auth">

<title> appointment patient edit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
<div class="container py-3">
    <header th:insert="blocks/header :: header"></header>

    <form method="post">
        <div>
            <input type="text" name="diagnosis" aria-label="diagnosis" placeholder="diagnosis"
                   class="form-control">
        </div>
        <div> &nbsp</div>
        <div>
            <input type="text" name="recommendations" aria-label="recommendations" placeholder="recommendations"
                   class="form-control">
        </div>
        <div> &nbsp</div>
        <div>
            <input type="text" name="symptoms" aria-label="symptoms" placeholder="symptoms"
                   class="form-control">
        </div>
        <div> &nbsp</div>
        <div>
            <input type="text" name="treatment" aria-label="treatment" placeholder="treatment"
                   class="form-control">
        </div>
        <button type="submit" class="btn btn-primary"> Сохранить</button>
    </form>



    <div th:insert="blocks/footer :: footer"></div>
</div>
</div>
</html>
