<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="auth">
<head>
    <title> Доктор </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">

    <div class="p-3 bg-dark text-white">

        <header th:insert="blocks/header :: header"></header>
        <div sec:authorize="hasRole('DOCTOR')" class="container mt-5">
            <form action="/doctor" method="post">
                <div>
                    <input type="text" name="id" aria-label="id" placeholder="id" class="form-control">
                </div>
                <div> &nbsp</div>
                <button type="submit" class="btn btn-primary"> поиск</button>
            </form>
            <div>&nbsp;</div>

            <form method="post">
                <div>
                    <input type="text" name="name" aria-label="name" placeholder="name" class="form-control">
                </div>
                <div> &nbsp</div>
                <button type="submit" class="btn btn-primary"> поиск</button>
            </form>


            <div th:each="el: ${patient}" class="alert alert-info mt-2" style="align-content: center; color: white">
                <h3 style="text-align: center" th:text="${patient.getId()}"></h3>
                <p style="text-align: center" th:text="${patient.getFio()}"></p>
                <p style="text-align: center" th:text="${patient.getSex()}"></p>
                <p style="text-align: center" th:text="${patient.getBirthday()}"></p>
                <p style="text-align: center" th:text="${patient.getInsurancePolicy()}"></p>
                <p style="text-align: center" th:text="${patient.getPlaceOfResidence()}"></p>
            </div>
            <input type="checkbox" class="read-more-checker" id="read-more-checker"/>
            <div class="limiter">
                <div th:each="el: ${appointments}" class="alert alert-info mt-2"
                     style="align-content: center; color: white">
                    <p style="text-align: center" th:text="${el.getDate()}"></p>
                    <p style="text-align: center" th:text="${el.getTime()}"></p>

                </div>
                <div class="bottom"></div>
            </div>
            <label for="read-more-checker" class="read-more-button"></label>


            <div th:insert="blocks/footer :: footer"></div>

        </div>
    </div>
</html>